.App {
  text-align: center;
}

.row-1{
  text-align: left;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 15pt;
}

.inline-obj{
  display: inline;
}

.row-2, .row-3, .row-4{
  text-align: left;
}
.post-list{
  width: 75%;
  margin-left: 12.5%;
}

.post-page{
  width: 75%;
  margin-left: 12.5%;
}

.add-pad{
  margin-right: 25px;
}

.delete-button{
  float:inline-end;
  color: red;
  border: 1px solid rgb(0,0,0,0);
  border-radius: 15px;
  padding: 5px;
}
.delete-button:hover{
  background-color: rgb(238, 103, 103);
  color: white;
}

.post-item{
  margin-bottom: 25px;
  border: 1px solid rgb(185, 185, 185, 0.25);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(0,0,0,0.1);
}

.readmore{
  margin-right: 50%;
  text-decoration: none;
  color: rgb(142, 172, 172);
}

.endline{
  float: inline-end;
  transform: translate(0, -6px);
}
.like, .dislike{
  transform: translate(0, 4px);
  font-size:  14pt;
  color: grey;
  padding: 4px;
}

.like:hover{
  background-color: rgb(118, 180, 118);
  color: white;
}
.dislike:hover{
  background-color: rgb(238, 103, 103);
  color: white;
}
.post-img{
  width: 25px;
  border-radius: 15px;
  display: inline;
  margin-right: 15px;
  transform: translate(0, 3px);
}
.post-author{
  display: inline;
}
